i.bi {
  font-size: 4rem;
  color: white;
}

a i.bi:hover {
  color: black;
  transition: 0.5s;
}

a i.bi {
  color: #c9f3fc;
}

hr {
  border-top: 2px solid white;
}

td {
  color: white;
}

.main-title {
  font-weight: bold;
}
